.toolbar,.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
}
.toolbar {
    justify-content: space-between;
    padding: 16px 32px;
}
ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    font-size: small;
}
.header {
    background-color: #1F2937;
    margin-top: -30px;
    padding: 16px 32px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.content {
    width: 500px;
}
.header .image {
    
}
.header button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-weight: 700;
}
.information h2 {
color: #1F2937;
text-align: center;
margin: 32px;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    text-align: center;
}
.container p {
    padding: 16px;
    width: 200px;
}
.quote {
    background-color: #E5E7EB;
    padding: 36px;
    text-align: center;
    padding: 32px 400px;
}
.quote h3 {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}
.quote h4 {
    text-align: end;
}
.callToAction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    background-color: #3882F6;
    margin: 100px 300px;
    color: #F9FAF8;
}
.callToAction button {
    border-radius: 10px;
    background-color: #3882F6;
    border: solid #F9FAF8;
    flex:0 0 auto;
    color: #F9FAF8;
    padding: 8px 16px;
    font-weight: 700;
    height: 50px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}